.card {
    display: block;
    max-width: 400px;
    width: 350px;
    min-height: 20vh;
    height: 30vh;
    background-color: $color-container;
    padding: $base-padding;
    border: $base-border-thickness;
    border-radius: $base-border-radius;
    box-shadow: $base-box-shadow-light;
    margin: 10px;

    
}

.card-title {
    font-size: $font-size-lg;
    padding-bottom: $base-padding;
    font-weight: bold;
}

.card-body {
    
    font-size: $base-font-size

        a {
            text-decoration: underline;
        }
}
